@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<section>
    <ul>
        @foreach (var website in ViewBag.Websites){
            <li>
                <h2>@website.websiteTitle</h2>
            </li>
            
        }
    </ul>
</section>
